{% block navbar %}
    <div class="container border-bottom mt-5">
        <nav class="navbar navbar-light navbar-expand-lg">
            <a href="{% url 'home' %}" class="navbar-brand">
                 {% load static %}
                 <img src="{% static "home/logo.png" %}" alt="Logo"  width="117" height="58">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">

                    <!-- pesquisa -->
                    <form class="form px-5" >
                           <div class="input-group">
                               <input type="search" style="width:40em; height:4em"  class="form-control" placeholder="O que você procura?">
                               <div class="input-group-append">
                                   <button class="btn btn-outline-secondary"  style="width:4em" type="submit" id="search-button">
                                       <i class="fas fa-search"></i>
                                   </button>
                               </div>
                           </div>
                        </form>

                   <!-- login -->
                   {% if user.is_authenticated %}
                    <li class="nav-item pr-3">
                        <a href="{% url 'perfil' %}" class="float-right">
                            <i class="fas fa-user"></i>
                                {{  user.username }}
                        </a>
                    </li>
                    <li class="nav-item pr-3">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                            Carrinho
                        </a>
                    </li>

                    {% else %}
                    <li class="nav-item pr-3">
                        <a href="{% url 'login' %}" class="float-right">
                            <i class="fas fa-user"></i>
                            <p>Entre  </p>
                        </a>
                    </li>

                   <!-- criar user-->
                   <li class="nav-item pr-3">
                        <a href="{% url 'criar-usuario' %}">
                            <i class="fas fa-user-plus"></i>
                                <p>Criar  </p>
                       </a>
                   </li>
                       {% endif %}





               </ul>
            </div>
        </nav>
    </div>
{% endblock %}