{% extends 'home/base.html' %}

{% block content %}
<!-- Detalhes da categoria -->
<div class="container mt-5">
    <h1 class="mb-3">Categoria {{ categoria.nome }}</h1>
    <h3 class="mb-5">Você pode querer ver também</h3>
    <div class="row mx-3 my-3 row-cols-1 row-cols-md-4 ">
    {% for subcategoria in categoria.subcategoria_set.all %}
        <div class="col mb-3">
            <div class="card rounded-pill text-center shadow" id="categoria_card_body" >
                <div class="card-body">
                    <h5 class="card-title">{{ subcategoria.nome }}</h5>
                    <p class="card-text">{{ subcategoria.descricao }}</p>
                    <a href="{{ subcategoria.get_absolute_url }}" class="btn btn-outline-dark border-0 stretched-link ">Venha conferir</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <!-- produtos nessa categoria -->
    <h1 class="mb-5">Confira nossos produtos</h1>
    <div class="row mx-3 my-3 row-cols-1 row-cols-md-5 ">
    {% for produto in categoria.produto_set.all %}
        <div class="col mb-3">
            {% include 'cards/produto_card.html' %}
        </div>
    {% endfor %}
    </div>
</div>

<style>
    .card:hover{
        background-color: #BC8F8F;
        z-index: 2;
        box-shadow: 5px 5px;
        width: 100%;
        height: 114%;
        align-content: center;
    }
</style>
{% endblock %}