{% extends 'home/base.html' %}

{% block content %}
    <!-- Detalhes do produto -->
    <div class="container">
        <h1>Produto {{ produto.nome }}</h1>
        <div class="row mx-3 my-3 row-cols-1 row-cols-md-5 ">
            <div class="col mb-3">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">{{ produto.descricao }}</p>
                        <a href="#" class="btn btn-primary stretched-link">{{ produto.preco }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


