{% extends 'home/base.html' %}

{% block content %}
    <!-- Detalhes do produto -->
    <div class="container">
        <h1>Produto {{ produto.nome }}</h1>
        <div class="row mx-3 mt-3">
            <div class="col-9">
                <img src="{{ produto.imagem.url }}" width="80%">
            </div>
            <div class="col">
                <h1>{{ produto.nome }}</h1>
                {% if produto.promocao %}
                    <h3>De <s> {{ produto.preco }} </s></h3>
                    <h3>Por {{ produto.preco_promocao }}</h3>
                {% else %}
                    <h3>Por {{ produto.preco }}</h3>
                {% endif %}

                {% if user.is_authenticated %}
                    <a href="#"class="btn btn-primary">Comprar</a>
                    <a id="add-carrinho" class="btn btn-primary">Adicionar ao carrinho</a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ produto.get_absolute_url }}" class="btn btn-primary">Comprar</a>
                    <a href="{% url 'login' %}?next={{ produto.get_absolute_url }}" class="btn btn-primary">Adicionar ao carrinho</a>
                {% endif %}
            </div>
        </div>

        <div class="container mt-3">
            <h1 class="ml-5">Caracteristicas</h1>
            <ul class="list-group list-group-flush">
                {% for caracteristica in produto.caracteristica_set.all %}
                <li class="list-group-item  list-group-item-action"><p class="ml-5">{{ caracteristica.nome }}: {{ caracteristica.descricao }}</p></li>
                {% endfor %}
            </ul>
        </div>

        <!-- produtos relacionados -->
        <div class="container">
            {% if produtos_relacionados %}
                <h1 class="ml-5">Produtos relacionados</h1>
                <div class="row mx-3 my-3 row-cols-1 row-cols-md-5 ">
                {% for produto in produtos_relacionados %}
                    <div class="col mb-3">
                        {% include 'cards/produto_card.html' %}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>



</div>
<style>
    .card:hover{
        background-color: #BC8F8F;
        z-index: 2;
        box-shadow: 5px 5px;
        width: 100%;
        height: 114%;
        align-content: center;
    }
</style>

<script>
    $('#add-carrinho').click(function(){
        console.log("JQuery Running!");
        $.ajax({
            url:'{% url 'carrinho-add-produto' pk=produto.id%}',
            dataType:'json',
            success: function (data) {
                console.log(data)
            }
        });
    });

</script>

{% endblock %}


