{% extends 'home/base.html' %}

{% block content %}
    <!-- Detalhes do produto -->
    <div class="container">
        <h1>Produto {{ produto.nome }}</h1>
        <div class="row mx-3 mt-3">
            <div class="col-9">
                <img src="dasdsad" alt="" width="80%">
            </div>
            <div class="col">
                <p>Detalhes do pagamento</p>
            </div>
        </div>

        <div class="container mt-3">
            <h1 class="ml-5">Caracteristicas</h1>
            <ul class="list-group list-group-flush">
                {% for caracteristica in produto.caracteristica_set.all %}
                <li class="list-group-item  list-group-item-action"><p class="ml-5">{{ caracteristica.nome }}: {{ caracteristica.descricao }}</p></li>
                {% endfor %}
            </ul>
        </div>

        <div class="container">
            <h1 class="ml-5">Produtos relacionados</h1>
        </div>



    </div>
{% endblock %}


