{% extends 'home/base.html' %}
{% block content %}
     <!-- Detalhes da subcategoria -->
     <div class="container">
         <h1 class="mt-5">{{ subcategoria.nome }}</h1>
         <div class="row mx-3 my-3 row-cols-1 row-cols-md-5 ">
         {% for produto in subcategoria.produto_set.all %}
             <div class="col mb-3">
                 {% include 'cards/produto_card.html' %}
             </div>
         {% endfor %}
         </div>
     </div>


<style>
    .card:hover{
        background-color: #BC8F8F;
        z-index: 2;
        box-shadow: 5px 5px;
        width: 100%;
        height: 107%;
        align-content: center;
    }

</style>
{% endblock %}